<div class="weizhi">
  当前位置：<%= link_to '首页', home_path %> > <%= link_to "行情报价", hangqingbaojias_path %>  > <font color="#FF6600"><%= @dongtai.title %></font>
</div>
<div class="fl2_bottom">
  <div class="fl2_bottom_left">
    <div class="fl2_left_k">
      <div class="nry_left_k_zi1"><%= @dongtai.title %></div>
      <div class="nry_left_k_zi2">
        发表时间：<%= @dongtai.published_at.to_s %> 
        相关标签：
        <% @dongtai.tag_list.each do |tag| %>
          <%= link_to tag, search_home_path(category: "hangqing", keyword: tag), target: "_blank" %>
        <% end %>
      </div>
      <div class="nry_left_text"><%= @dongtai.desc.html_safe %></div>
      <span class="fl2_left_biaoqian">
        标签：
        <% @dongtai.tag_list.each do |tag| %>
          <%= link_to tag, search_home_path(category: "hangqing", keyword: tag), target: "_blank" %>
        <% end %>
      </span>
      <div class="nry_left_k_botk">
        <span class="nry_left_k_zi6">
        <% if @dongtai.pre? %>
          上一篇：<%= link_to truncate(@dongtai.pre.title, length: 20), @dongtai.pre, title: @dongtai.pre.title %>
        <% end %>
        </span>
        <span class="nry_left_k_zi6">
        <% if @dongtai.next? %>
          下一篇：<%= link_to truncate(@dongtai.next.title, length: 20), @dongtai.next, title: @dongtai.next.title %>
        <% end %>
        </span>
      </div>
    </div>
    <div class="fl2_left_k2">
      <div class="lby_left_top"><%= @dongtai.resource.name %>最新报价</div>
      <div class="fl2_left_xiak">
      <ul>
        <% @jiages.each_with_index do |jiage, index| %>
          <% if index % 2 == 0; n = 2; else n = 1; end%>
            <li class="fl2_left_xiak_zi<%= n %>">
            ·<%= link_to truncate(jiage.title, length: 20), jiage, title: jiage.title, target: "_blank" %>
          <font color="#999999"><%= jiage.published_at %></font>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
  <%= render partial: "/jiages/right", locals: {resource: @dongtai.resource} %>
<div class="clear"></div>
</div>
