<div class="weizhi">当前位置：<%= link_to "首页", home_path %> > <%= link_to "行业资讯", zixuns_path %> > <font color="#FF6600"><%= @fenlei_name || @category_name %></font></div>
<div class="lby_bottom">
  <div class="lby_bottom_left">
    <div class="lby_left_top"><%= @category_name %></div>
    <div class="lby_left_xia">
      <div class="lby_left_xia_bot">
        <% @articles.each do |article| %>
      <ul>
        <div class="lby_left_xia_pic">
          <img src="<%= article.image_src %>" width="99" height="74" />
        </div>
      <li class="lby_left_xia_zi1">
        <%= link_to truncate(article.title, length: 40), article %>
      </li>
      <li class="lby_left_xia_zi2">
        <%= l article.created_at.to_date %>
      </li>
      <li class="lby_left_xia_zi3">
        <%= truncate(article.guolv_content, length: 120) %>
      </li>
      </ul>
    <% end %>

      </div>
      <%= will_paginate @articles %>
    </div>
  </div>
  <div class="lby_bottom_right">
    <div class="box3_right_1k">
      <div class="box1_right_xia_top"><span class="box1_right_xia_topzi1"><strong>综合资讯</strong></span></div>
      <div class="box3_right_1k_xia">
        <ul>
          <% @zonghe_articles.each do |article| %>
            <li>·<%= link_to truncate(article.title, length: 15), article, title: article.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="guanggao1"><img src="/assets/gg1.gif" /></div>
    <div class="box3_right_1k">
      <div class="box1_right_xia_top"><span class="box1_right_xia_topzi1"><strong>其他资讯</strong></span></div>
      <div class="box3_right_1k_xia">
        <ul>
          <% @qita_articles.each do |article| %>
            <li>·<%= link_to truncate(article.title, length: 15), article, title: article.title %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
