<%= title "验证用户" %>

<div class="gly_bottom_right">
  <div class="gly_ck_k">
    <ul>
      <li>姓名：<%= @user.name %></li>
      <li>电子邮件：<%= @user.email %></li>
      <li>
      <%= simple_form_for @user, url: verify_user_path do |f| %>
        <%= f.input :id, as: :hidden, wrapper: false %>
        <span class="gly_gxhy_zi1">是否验证：</span>
        <% User.get_is_verify_values.each do |user| %>
          <span class="dxanniu">
            <%= f.radio_button :is_verify, user[1], id: "RadioGroup1_0" %>
        </span>
        <span class="gly_gxhy_zi2"><%= user[0] %></span>
        <% end %>
        <%= f.button :submit, "更新用户", class: "anniu8" %>
      <% end %>
      </li>

    </ul>
  </div>
</div>
<div class="clear"></div>

<% if nil %>
<%= cn "user", "name" %>: <%= @user.name %><br/>
<%= cn "user", "email" %>: <%= @user.email %><br/>
<%= simple_form_for @user, url: verify_user_path do |f| %>
  <%= f.input :id, as: :hidden %>
  <%= f.input :is_verify, as: :radio_buttons, collection: User.get_is_verify_values %>
  <%= f.button :submit %>
<% end %>
<% end %>
