<h1>标签<%= @tag_name %></h1>
<%= title @tag_name %>

<table>
  <tr>
    <th>标题</th>
    <th>发布时间</th>
    <th>操作</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= link_to transaction.name, transaction %></td>
      <td>
        <% if transaction.can_refresh? %>
          <%= link_to "刷新", "javascript:void(0)", value: transaction.id, class: "refresh" %>
        <% else %>
          已是最新
        <% end %>
      </td>
      <td><%= l transaction.refreshed_at %></td>
      <td><%= l transaction.created_at %></td>
      <td>
        <%= link_to "编辑", edit_transaction_path(transaction) %>
        <%= link_to "图片", images_transaction_path(transaction) %>
        <%= link_to_if current_user && transaction.user == current_user, "删除", transaction_path(transaction), method: :delete, confirm: "确定删除吗?" %>
      </td>  
    </tr>
  <% end %>

</table>

<%= will_paginate @transactions %>


