<div class="gly_fbwz_xia">
  <%= simple_form_for(@hangqing, html: {class: "validate_form"}) do |f| %>
  <ul>
    <li class="gly_fbwz_zi1"><span class="require">*</span>标题：</li>
    <%= f.input :title, input_html: {class: "validate[required] wenben7"}, label: false, wrapper: false %>
  </ul>
  <ul>
    <li class="gly_fbwz_zi1"><span class="require">*</span>资源分类：</li>
    <%= f.input :resource_id, collection: KeyValues::Resource.find([1,2,4]), include_blank: "请选择资源分类", input_html: {class: "validate[required] wenben7"}, label: false, wrapper: false %>
  </ul>
  <ul>
    <li class="gly_fbwz_zi1"><span class="require">*</span>发布日期：</li>
    <%= f.input :published_at, as: :string, input_html: {class: "validate[required] wenben7 date"}, label: false, wrapper: false %>
  </ul>
  <ul>
    <li class="gly_fbwz_zi1">标签：</li>
    <% 0.upto(4) do |i| %>
      <li>
      <%= text_field_tag "hangqing[tag_list][#{i}]", @hangqing.tag_list[i], class: "wenben12" %>
      </li>
    <% end %>
  </ul>
  <ul>
    <li class="gly_fbwz_zi2">内容：</li>
    <li class="gly_fbwz_bianjiqi">
      <%= f.input :desc, input_html: {class: "kindeditor"}, label: false, wrapper: false %>
    </li>
  </ul>

  <ul>
    <%= f.button :submit, class: "anniu8" %>
  </ul>
<% end %>
</div>

