<div class="box7">
<ul>
  <li><%= link_to "著作权与商标声明", shangbiao_path, target: "_blank" %>丨 <%= link_to "法律声明", shengming_path, target: "_blank" %>丨 <%= link_to "服务条款", services_path, target: "_blank" %>丨 <%= link_to "隐私声明", privacy_path, target: "_blank" %>丨 <%= link_to "广告投放", ad_path, target: "_blank" %>丨 <%= link_to "联系我们", lianxi_path, target: "_blank" %>丨 <%= link_to "诚聘英才", recruit_path, target: "_blank" %></li>
<li>服务热线:010-68392872</li>
<li>永正嘉盈版权所有 2011-2012</li>
<li><%= link_to "京ICP备 11023150", "http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" %></li>
<li><%= link_to "京公安网备 110105012066", "http://www.bj.cyberpolice.cn/", target: "_blank" %></li>
</ul>
<div class="clear"></div>
</div>
